<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h2>My Vaults</h2>
  <!--<ul class="glacierDetails">
    <li *ngFor="let vault of vaults">
      <span class="badge">Name</span>{{vault.VaultName}}
      <span class="badge">Create Date</span>{{vault.CreationDate}}
      <span class="badge">Inventory Date</span>{{vault.LastInventoryDate}}
      <span class="badge">Number Archives</span>{{vault.NumberOfArchives}}
      <span class="badge">Size in Bytes</span>{{vault.SizeInBytes}}
      <span class="badge">ARN</span>{{vault.VaultARN}}


    </li>
  </ul>-->

  <!--<ul class="heroes">
    <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      <button class="delete"
              (click)="delete(hero); $event.stopPropagation()">
        x
      </button>
    </li>
  </ul>
  <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
  <div>
    <label>Hero name:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">
      Add
    </button>
  </div>-->

  <p-dataTable [value]="vaults" selectionMode="single" [(selection)]="selectedVault" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="numberOfArchives">
    <p-header>Single Selection</p-header>
    <p-footer>Selected Vault: {{ selectedVault ? selectedVault.vaultName : 'none'}}</p-footer>
    <p-column field="creationDate" header="Creation Date"></p-column>
    <p-column field="lastInventoryDate" header="Last Inventory Date"></p-column>
    <p-column field="numberOfArchives" header="Number Of Archives"></p-column>
    <p-column field="sizeInBytes" header="Size In Bytes"></p-column>
    <p-column field="vaultARN" header="Vault ARN"></p-column>
    <p-column field="vaultName" header="Vault Name"></p-column>
  </p-dataTable>

  <!--<p-dataTable [value]="heroes">
    <p-column field="id" header="Id"></p-column>
    <p-column field="name" header="Name"></p-column>
  </p-dataTable>-->

  <!--<p-dataGrid [value]="vaults" [paginator]="true" [rows]="20">
    <p-header>
      List of Vaults
    </p-header>
    <ng-template let-vault pTemplate="item">
      <div style="padding:3px" class="ui-g-12 ui-md-3">
        <p-panel [header]="vault.vaultARN" [style]="{'text-align':'center'}">         
          <div class="vault-detail">{{vault.vaultName}}</div>
          <hr class="ui-widget-content" style="border-top:0">
          <i class="fa fa-search" (click)="onSelect(vault)" style="cursor:pointer"></i>
        </p-panel>
      </div>
    </ng-template>
  </p-dataGrid>

  <p-dialog header="Vault Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedVault" style="font-size:16px;text-align:center;padding:20px">

      <div class="ui-grid-row">
        <div class="ui-grid-col-4">ARN: </div>
        <div class="ui-grid-col-8">{{selectedVault.vaultARN}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">Name: </div>
        <div class="ui-grid-col-8">{{selectedVault.vaultName}}</div>
      </div>
    </div>
  </p-dialog>-->

</body>
</html>